/* *************
    Cellular :: Drupal

    (c)2012 Adam Blankenship
*************** */
/* *************
    Cellular :: Drupal

    (c)2012 Adam Blankenship
*************** */
/*****
    Cellular :: SASS Mixins

    (c)2012 Adam Blankenship
*****/
/*
.round {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -khtml-border-radius: 1em;
    border-radius: 1em;
}

.round-top {
    -webkit-border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -khtml-border-radius-topleft: 1em;
    border-top-left-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -khtml-border-radius-topright: 1em;
    border-top-right-radius: 1em;
}

.round-right {
    -webkit-border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -khtml-border-radius-topright: 1em;
    border-top-right-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -khtml-border-radius-bottomright: 1em;
    border-bottom-right-radius: 1em;
}

.round-bottom {
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -khtml-border-radius-bottomleft: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -khtml-border-radius-bottomright: 1em;
    border-bottom-right-radius: 1em;
}

.round-left {
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -khtml-border-radius-bottomleft: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -khtml-border-radius-topleft: 1em;
}

*/
/* *************
Consolidates core module stylesheets:

modules/system/system.base.css
modules/system/system.menus.css
modules/system/system.messages.css
modules/system/system.theme.css

modules/block/block.css
modules/comment/comment.css
modules/field/theme/field.css
modules/filter/filter.css
modules/help/help.css
modules/menu/menu.css
modules/node/node.css
modules/search/search.css
modules/user/user.css
*************** */
/*****
    Cellular :: SASS Mixins

    (c)2012 Adam Blankenship
*****/
/*
.round {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -khtml-border-radius: 1em;
    border-radius: 1em;
}

.round-top {
    -webkit-border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -khtml-border-radius-topleft: 1em;
    border-top-left-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -khtml-border-radius-topright: 1em;
    border-top-right-radius: 1em;
}

.round-right {
    -webkit-border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -khtml-border-radius-topright: 1em;
    border-top-right-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -khtml-border-radius-bottomright: 1em;
    border-bottom-right-radius: 1em;
}

.round-bottom {
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -khtml-border-radius-bottomleft: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -khtml-border-radius-bottomright: 1em;
    border-bottom-right-radius: 1em;
}

.round-left {
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -khtml-border-radius-bottomleft: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -khtml-border-radius-topleft: 1em;
}

*/
/* *************
system.base.css
*************** */
/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
/* line 34, ../sass/_drupal-core.scss */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

/* line 40, ../sass/_drupal-core.scss */
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 46, ../sass/_drupal-core.scss */
#autocomplete li {
  background: #fefefe;
  color: #111111;
  cursor: default;
  white-space: pre;
  zoom: 1;
  /* IE7 */
}

/* Animated throbber */
/* line 54, ../sass/_drupal-core.scss */
html.js input.form-autocomplete {
  background-image: url(images/drupal/throbber.gif);
  background-position: 100% 2px;
  /* LTR */
  background-repeat: no-repeat;
}

/* line 59, ../sass/_drupal-core.scss */
html.js input.throbbing {
  background-position: 100% -18px;
  /* LTR */
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 68, ../sass/_drupal-core.scss */
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}

/* line 74, ../sass/_drupal-core.scss */
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}

/* line 77, ../sass/_drupal-core.scss */
fieldset.collapsible {
  position: relative;
}

/* line 80, ../sass/_drupal-core.scss */
fieldset.collapsible .fieldset-legend {
  display: block;
}

/**
 * Resizable textareas.
 *
 * @see textarea.js
 */
/* line 89, ../sass/_drupal-core.scss */
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 97, ../sass/_drupal-core.scss */
.resizable-textarea .grippie {
  background: #eeeeee url(images/drupal/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
/* line 111, ../sass/_drupal-core.scss */
body.drag {
  cursor: move;
}

/* line 114, ../sass/_drupal-core.scss */
.draggable a.tabledrag-handle {
  cursor: move;
  float: left;
  /* LTR */
  height: 1.7em;
  margin-left: -1em;
  /* LTR */
  overflow: hidden;
  text-decoration: none;
}

/* line 122, ../sass/_drupal-core.scss */
a.tabledrag-handle:hover {
  text-decoration: none;
}

/* line 125, ../sass/_drupal-core.scss */
a.tabledrag-handle .handle {
  background: url(images/drupal/draggable.png) no-repeat 6px 9px;
  height: 13px;
  margin: -0.4em 0.5em;
  /* LTR */
  padding: 0.42em 0.5em;
  /* LTR */
  width: 13px;
}

/* line 132, ../sass/_drupal-core.scss */
a.tabledrag-handle-hover .handle {
  background-position: 6px -11px;
}

/* line 135, ../sass/_drupal-core.scss */
div.indentation {
  float: left;
  /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em;
  /* LTR */
  padding: 0.42em 0 0.42em 0.6em;
  /* LTR */
  width: 20px;
}

/* line 142, ../sass/_drupal-core.scss */
div.tree-child {
  background: url(images/drupal/tree.png) no-repeat 11px center;
  /* LTR */
}

/* line 145, ../sass/_drupal-core.scss */
div.tree-child-last {
  background: url(images/drupal/tree-bottom.png) no-repeat 11px center;
  /* LTR */
}

/* line 148, ../sass/_drupal-core.scss */
div.tree-child-horizontal {
  background: url(images/drupal/tree.png) no-repeat -11px center;
}

/* line 151, ../sass/_drupal-core.scss */
.tabledrag-toggle-weight-wrapper {
  text-align: right;
  /* LTR */
}

/**
 * TableHeader behavior.
 *
 * @see tableheader.js
 */
/* line 160, ../sass/_drupal-core.scss */
table.sticky-header {
  background-color: #fefefe;
  margin-top: 0;
}

/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
/* line 171, ../sass/_drupal-core.scss */
.progress .bar {
  background-color: #fefefe;
  border: 1px solid;
}

/* line 175, ../sass/_drupal-core.scss */
.progress .filled {
  background-color: #111111;
  height: 1.5em;
  width: 5px;
}

/* line 180, ../sass/_drupal-core.scss */
.progress .percentage {
  float: right;
  /* LTR */
}

/* Throbber */
/* line 184, ../sass/_drupal-core.scss */
.ajax-progress {
  display: inline-block;
}

/* line 187, ../sass/_drupal-core.scss */
.ajax-progress .throbber {
  background: transparent url(images/drupal/throbber.gif) no-repeat 0px -18px;
  float: left;
  /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}

/* line 194, ../sass/_drupal-core.scss */
.ajax-progress .message {
  padding-left: 20px;
}

/* line 197, ../sass/_drupal-core.scss */
tr .ajax-progress .throbber {
  margin: 0 2px;
}

/* line 200, ../sass/_drupal-core.scss */
.ajax-progress-bar {
  width: 16em;
}

/**
 * Inline items.
 */
/* line 208, ../sass/_drupal-core.scss */
.container-inline div,
.container-inline label {
  display: inline;
}

/* Fieldset contents always need to be rendered as block. */
/* line 212, ../sass/_drupal-core.scss */
.container-inline .fieldset-wrapper {
  display: block;
}

/**
 * Prevent text wrapping.
 */
/* line 219, ../sass/_drupal-core.scss */
.nowrap {
  white-space: nowrap;
}

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
/* line 227, ../sass/_drupal-core.scss */
html.js .js-hide {
  display: none;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
/* line 239, ../sass/_drupal-core.scss */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
/* line 251, ../sass/_drupal-core.scss */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
/* line 264, ../sass/_drupal-core.scss */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
/* line 276, ../sass/_drupal-core.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE6 */
/* line 284, ../sass/_drupal-core.scss */
* html .clearfix {
  height: 1%;
}

/* IE7 */
/* line 288, ../sass/_drupal-core.scss */
*:first-child + html .clearfix {
  min-height: 1%;
}

/* *************
system.menus.css
*************** */
/**
 * Markup generated by theme_menu_tree().
 */
/* line 298, ../sass/_drupal-core.scss */
ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  /* LTR */
}

/* line 303, ../sass/_drupal-core.scss */
ul.menu li {
  margin: 0 0 0 0.5em;
  /* LTR */
}

/* line 306, ../sass/_drupal-core.scss */
ul li.expanded {
  list-style-image: url(images/drupal/menu-expanded.png);
  list-style-type: circle;
}

/* line 310, ../sass/_drupal-core.scss */
ul li.collapsed {
  list-style-image: url(images/drupal/menu-collapsed.png);
  /* LTR */
  list-style-type: disc;
}

/* line 314, ../sass/_drupal-core.scss */
ul li.leaf {
  list-style-image: url(images/drupal/menu-leaf.png);
  list-style-type: square;
}

/* line 320, ../sass/_drupal-core.scss */
li.expanded,
li.collapsed,
li.leaf {
  padding: 0.2em 0.5em 0 0;
  /* LTR */
  margin: 0;
}

/* line 324, ../sass/_drupal-core.scss */
li a.active {
  color: #111111;
}

/* line 327, ../sass/_drupal-core.scss */
td.menu-disabled {
  background: #ccc;
}

/**
 * Markup generated by theme_links().
 */
/* line 335, ../sass/_drupal-core.scss */
ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}

/* line 339, ../sass/_drupal-core.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

/**
 * Markup generated by theme_breadcrumb().
 */
/* line 348, ../sass/_drupal-core.scss */
.breadcrumb {
  padding-bottom: 0.5em;
}

/**
 * Markup generated by theme_menu_local_tasks().
 */
/* line 355, ../sass/_drupal-core.scss */
ul.primary {
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em;
  /* LTR */
  white-space: nowrap;
}

/* line 365, ../sass/_drupal-core.scss */
ul.primary li {
  display: inline;
}

/* line 368, ../sass/_drupal-core.scss */
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  /* LTR */
  padding: 0 1em;
  text-decoration: none;
}

/* line 378, ../sass/_drupal-core.scss */
ul.primary li.active a {
  background-color: #fefefe;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fefefe;
}

/* line 383, ../sass/_drupal-core.scss */
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}

/* line 388, ../sass/_drupal-core.scss */
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}

/* line 393, ../sass/_drupal-core.scss */
ul.secondary li {
  border-right: 1px solid #ccc;
  /* LTR */
  display: inline;
  padding: 0 1em;
}

/* line 398, ../sass/_drupal-core.scss */
ul.secondary a {
  padding: 0;
  text-decoration: none;
}

/* line 402, ../sass/_drupal-core.scss */
ul.secondary a.active {
  border-bottom: 4px solid #999;
}

/* *************
system.messages.css
*************** */
/* line 409, ../sass/_drupal-core.scss */
div.messages {
  background-position: 8px 8px;
  /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px;
  /* LTR */
}

/* line 417, ../sass/_drupal-core.scss */
div.status {
  background-image: url(images/drupal/message-24-ok.png);
  border-color: #57dd2a;
}

/* line 422, ../sass/_drupal-core.scss */
div.status,
.ok {
  color: #57dd2a;
}

/* line 426, ../sass/_drupal-core.scss */
div.status,
table tr.ok {
  border: #57dd2a thin solid;
}

/* line 430, ../sass/_drupal-core.scss */
div.warning {
  background-image: url(images/drupal/message-24-warning.png);
}

/* line 434, ../sass/_drupal-core.scss */
div.warning,
.warning {
  color: #dddd2a;
}

/* line 438, ../sass/_drupal-core.scss */
div.warning,
table tr.warning {
  border: #dddd2a thin solid;
}

/* line 442, ../sass/_drupal-core.scss */
div.error {
  background-image: url(images/drupal/message-24-error.png);
}

/* line 447, ../sass/_drupal-core.scss */
div.error,
.error {
  color: #8c0d00;
}

/* line 451, ../sass/_drupal-core.scss */
div.error,
table tr.error {
  border: #8c0d00 thin solid;
}

/* line 454, ../sass/_drupal-core.scss */
div.error p.error {
  color: #8c0d00;
}

/* line 458, ../sass/_drupal-core.scss */
div.messages ul {
  margin: 0 0 0 1em;
  /* LTR */
  padding: 0;
}

/* line 462, ../sass/_drupal-core.scss */
div.messages ul li {
  list-style-image: none;
}

/* *************
system.theme.css
*************** */
/**
 * HTML elements.

fieldset {
  margin-bottom: 1em;
  padding: 0.5em;
}
form {
  margin: 0;
  padding: 0;
}
hr {
  border: $light_grey $border;
  height: 1px;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
}
th {
  border-bottom: $light_grey 3px solid;
  padding: $padding; 
  text-align: center; 
}
tbody {
  border-top: $light_grey $border;
}
*/
/* line 500, ../sass/_drupal-core.scss */
tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: #cccccc thin solid;
  padding: 0.1em 0.6em;
}

/**
 * Markup generated by theme_tablesort_indicator().
 */
/* line 509, ../sass/_drupal-core.scss */
th.active img {
  display: inline;
}

/* line 512, ../sass/_drupal-core.scss */
td.active {
  background-color: #ddd;
}

/**
 * Markup generated by theme_item_list().
 */
/* line 519, ../sass/_drupal-core.scss */
.item-list .title {
  font-weight: bold;
}

/* line 522, ../sass/_drupal-core.scss */
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}

/* line 526, ../sass/_drupal-core.scss */
.item-list ul li {
  margin: 0 0 0.25em 1.5em;
  /* LTR */
  padding: 0;
}

/**
 * Markup generated by Form API.
 */
/* line 535, ../sass/_drupal-core.scss */
.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 540, ../sass/_drupal-core.scss */
tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

/* line 545, ../sass/_drupal-core.scss */
.form-item .description {
  font-size: 0.85em;
}

/* line 548, ../sass/_drupal-core.scss */
label {
  display: block;
  font-weight: bold;
}

/* line 552, ../sass/_drupal-core.scss */
label.option {
  display: inline;
  font-weight: normal;
}

/* line 557, ../sass/_drupal-core.scss */
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

/* line 562, ../sass/_drupal-core.scss */
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
}

/* line 566, ../sass/_drupal-core.scss */
input.form-checkbox,
input.form-radio {
  vertical-align: middle;
}

/* line 570, ../sass/_drupal-core.scss */
.marker,
.form-required {
  color: #f00;
}

/* line 575, ../sass/_drupal-core.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

/**
 * Inline items.
 */
/* line 583, ../sass/_drupal-core.scss */
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Markup generated by theme_more_link().
 */
/* line 591, ../sass/_drupal-core.scss */
.more-link {
  text-align: right;
  /* LTR */
}

/**
 * Markup generated by theme_more_help_link().
 */
/* line 598, ../sass/_drupal-core.scss */
.more-help-link {
  text-align: right;
  /* LTR */
}

/* line 601, ../sass/_drupal-core.scss */
.more-help-link a {
  background: url(images/drupal/help.png) 0 50% no-repeat;
  /* LTR */
  padding: 1px 0 1px 20px;
  /* LTR */
}

/**
 * Markup generated by theme_pager().
 */
/* line 609, ../sass/_drupal-core.scss */
.item-list .pager {
  clear: both;
  text-align: center;
}

/* line 613, ../sass/_drupal-core.scss */
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}

/* line 619, ../sass/_drupal-core.scss */
.pager-current {
  font-weight: bold;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
/* line 629, ../sass/_drupal-core.scss */
#autocomplete li.selected {
  background: #0072b9;
  color: #fefefe;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 639, ../sass/_drupal-core.scss */
html.js fieldset.collapsible .fieldset-legend {
  background: url(images/drupal/menu-expanded.png) 5px 65% no-repeat;
  /* LTR */
  padding-left: 15px;
  /* LTR */
}

/* line 643, ../sass/_drupal-core.scss */
html.js fieldset.collapsed .fieldset-legend {
  background-image: url(images/drupal/menu-collapsed.png);
  /* LTR */
  background-position: 5px 50%;
  /* LTR */
}

/* line 647, ../sass/_drupal-core.scss */
.fieldset-legend span.summary {
  color: #999;
  font-size: 0.9em;
  margin-left: 0.5em;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
/* line 658, ../sass/_drupal-core.scss */
tr.drag {
  background-color: #fefefe;
}

/* line 661, ../sass/_drupal-core.scss */
tr.drag-previous {
  background-color: #ffd;
}

/* line 664, ../sass/_drupal-core.scss */
.tabledrag-toggle-weight {
  font-size: 0.9em;
}

/* line 667, ../sass/_drupal-core.scss */
body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
*/
/* line 676, ../sass/_drupal-core.scss */
tr.selected td {
  background: #ffc;
}

/* line 680, ../sass/_drupal-core.scss */
td.checkbox,
th.checkbox {
  text-align: center;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
/* line 689, ../sass/_drupal-core.scss */
.progress {
  font-weight: bold;
}

/* line 692, ../sass/_drupal-core.scss */
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 700, ../sass/_drupal-core.scss */
.progress .filled {
  background: #0072b9 url(images/drupal/progress.gif);
}

/* *************
block.css
*************** */
/* line 707, ../sass/_drupal-core.scss */
#blocks tr.region-title td {
  font-weight: bold;
}

/* line 710, ../sass/_drupal-core.scss */
#blocks tr.region-message {
  font-weight: normal;
  color: #999;
}

/* line 714, ../sass/_drupal-core.scss */
#blocks tr.region-populated {
  display: none;
}

/* line 717, ../sass/_drupal-core.scss */
.block-region {
  background-color: #ff6;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
}

/* line 725, ../sass/_drupal-core.scss */
a.block-demo-backlink,
a.block-demo-backlink:link,
a.block-demo-backlink:visited {
  background-color: #B4D7F0;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  color: #111111;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: small;
  line-height: 20px;
  left: 20px;
  /*LTR*/
  padding: 5px 10px;
  position: fixed;
  z-index: 499;
}

/* line 739, ../sass/_drupal-core.scss */
a.block-demo-backlink:hover {
  text-decoration: underline;
}

/* *************
comment.css
*************** */
/* line 746, ../sass/_drupal-core.scss */
#comments {
  margin-top: 15px;
}

/* line 749, ../sass/_drupal-core.scss */
.indented {
  margin-left: 25px;
  /* LTR */
}

/* line 752, ../sass/_drupal-core.scss */
.comment-unpublished {
  background-color: #cccccc;
}

/* line 755, ../sass/_drupal-core.scss */
.comment-preview {
  background-color: #cccccc;
}

/* *************
filter.css
*************** */
/* line 762, ../sass/_drupal-core.scss */
.text-format-wrapper .form-item {
  margin-bottom: 0;
}

/* line 765, ../sass/_drupal-core.scss */
.filter-wrapper {
  border-top: 0;
  margin: 0;
  padding: 1.5em 0 1.5em;
}

/* line 770, ../sass/_drupal-core.scss */
.filter-wrapper .form-item {
  float: left;
  padding: 0 0 0.5em 1.5em;
}

/* line 774, ../sass/_drupal-core.scss */
.filter-wrapper .form-item label {
  display: inline;
}

/* line 777, ../sass/_drupal-core.scss */
.filter-help {
  float: right;
  padding: 0 1.5em 0.5em;
}

/* line 781, ../sass/_drupal-core.scss */
.filter-help p {
  margin: 0;
}

/* line 784, ../sass/_drupal-core.scss */
.filter-help a {
  background: transparent url(images/drupal/help.png) right center no-repeat;
  padding: 0 20px;
}

/* line 788, ../sass/_drupal-core.scss */
.filter-guidelines {
  clear: left;
  padding: 0 1.5em;
}

/* line 792, ../sass/_drupal-core.scss */
.text-format-wrapper .description {
  margin-top: 0.5em;
}

/* line 796, ../sass/_drupal-core.scss */
#filter-order tr .form-item {
  padding: 0.5em 0 0 3em;
  white-space: normal;
}

/* line 800, ../sass/_drupal-core.scss */
#filter-order tr .form-type-checkbox .description {
  padding: 0 0 0 2.5em;
}

/* line 803, ../sass/_drupal-core.scss */
input#edit-filters-filter-html-settings-allowed-html {
  width: 100%;
}

/* line 807, ../sass/_drupal-core.scss */
.tips {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}

/* *************
field.css
*************** */
/* Field display */
/* line 820, ../sass/_drupal-core.scss */
.field .field-label {
  font-weight: bold;
}

/* line 824, ../sass/_drupal-core.scss */
.field-label-inline .field-label,
.field-label-inline .field-items {
  float: left;
  /*LTR*/
}

/* Form display */
/* line 829, ../sass/_drupal-core.scss */
form .field-multiple-table {
  margin: 0;
}

/* line 832, ../sass/_drupal-core.scss */
form .field-multiple-table th.field-label {
  padding-left: 0;
  /*LTR*/
}

/* line 835, ../sass/_drupal-core.scss */
form .field-multiple-table td.field-multiple-drag {
  width: 30px;
  padding-right: 0;
  /*LTR*/
}

/* line 839, ../sass/_drupal-core.scss */
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: .5em;
  /*LTR*/
}

/* line 843, ../sass/_drupal-core.scss */
form .field-add-more-submit {
  margin: .5em 0 0;
}

/* *************
help.css
*************** */
/* line 850, ../sass/_drupal-core.scss */
.help-items {
  float: left;
  /* LTR */
  width: 22%;
  padding-right: 3%;
  /* LTR */
}

/* line 855, ../sass/_drupal-core.scss */
.help-items-last {
  padding-right: 0;
  /* LTR */
}

/* *************
menu.css
*************** */
/* line 862, ../sass/_drupal-core.scss */
.menu-operations {
  width: 100px;
}

/* line 866, ../sass/_drupal-core.scss */
.menu-enabled {
  width: 70px;
}

/* line 870, ../sass/_drupal-core.scss */
.menu-enabled input {
  margin-left: 25px;
}

/* *************
node.css
*************** */
/* line 877, ../sass/_drupal-core.scss */
.node-unpublished {
  background-color: #cccccc;
}

/* line 880, ../sass/_drupal-core.scss */
.preview .node {
  background-color: #cccccc;
}

/* line 883, ../sass/_drupal-core.scss */
td.revision-current {
  background: #cccccc;
}

/* *************
search.css
*************** */
/* line 890, ../sass/_drupal-core.scss */
.search-form {
  margin-bottom: 1em;
}

/* line 893, ../sass/_drupal-core.scss */
.search-form input {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 897, ../sass/_drupal-core.scss */
.search-results {
  list-style: none;
}

/* line 900, ../sass/_drupal-core.scss */
.search-results p {
  margin-top: 0;
}

/* line 903, ../sass/_drupal-core.scss */
.search-results .title {
  font-size: 1.2em;
}

/* line 906, ../sass/_drupal-core.scss */
.search-results li {
  margin-bottom: 1em;
}

/* line 909, ../sass/_drupal-core.scss */
.search-results .search-snippet-info {
  padding-left: 1em;
  /* LTR */
}

/* line 912, ../sass/_drupal-core.scss */
.search-results .search-info {
  font-size: 0.85em;
}

/* line 915, ../sass/_drupal-core.scss */
.search-advanced .criterion {
  float: left;
  /* LTR */
  margin-right: 2em;
  /* LTR */
}

/* line 919, ../sass/_drupal-core.scss */
.search-advanced .action {
  float: left;
  /* LTR */
  clear: left;
  /* LTR */
}

/* *************
user.css
*************** */
/* line 927, ../sass/_drupal-core.scss */
#permissions td.module {
  font-weight: bold;
}

/* line 930, ../sass/_drupal-core.scss */
#permissions td.permission {
  padding-left: 1.5em;
  /* LTR */
}

/* line 934, ../sass/_drupal-core.scss */
#permissions tr.odd .form-item,
#permissions tr.even .form-item {
  white-space: normal;
}

/* line 937, ../sass/_drupal-core.scss */
#user-admin-settings fieldset .fieldset-description {
  font-size: 0.85em;
  padding-bottom: .5em;
}

/**
 * Override default textfield float to put the "Add role" button next to
 * the input textfield.
 */
/* line 946, ../sass/_drupal-core.scss */
#user-admin-roles td.edit-name {
  clear: both;
}

/* line 949, ../sass/_drupal-core.scss */
#user-admin-roles .form-item-name {
  float: left;
  /* LTR */
  margin-right: 1em;
  /* LTR */
}

/**
 * Password strength indicator.
 */
/* line 957, ../sass/_drupal-core.scss */
.password-strength {
  width: 17em;
  float: right;
  /* LTR */
  margin-top: 1.4em;
}

/* line 962, ../sass/_drupal-core.scss */
.password-strength-title {
  display: inline;
}

/* line 965, ../sass/_drupal-core.scss */
.password-strength-text {
  float: right;
  /* LTR */
  font-weight: bold;
}

/* line 969, ../sass/_drupal-core.scss */
.password-indicator {
  background-color: #C4C4C4;
  height: 0.3em;
  width: 100%;
}

/* line 974, ../sass/_drupal-core.scss */
.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: #47C965;
}

/* line 980, ../sass/_drupal-core.scss */
input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}

/* line 984, ../sass/_drupal-core.scss */
div.password-confirm {
  float: right;
  /* LTR */
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}

/* line 990, ../sass/_drupal-core.scss */
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}

/* line 996, ../sass/_drupal-core.scss */
div.password-suggestions ul {
  margin-bottom: 0;
}

/* line 1000, ../sass/_drupal-core.scss */
.confirm-parent,
.password-parent {
  clear: left;
  /* LTR */
  margin: 0;
  width: 36.3em;
}

/* Generated by user.module but used by profile.module: */
/* line 1007, ../sass/_drupal-core.scss */
.profile {
  clear: both;
  margin: 1em 0;
}

/* line 1011, ../sass/_drupal-core.scss */
.profile .user-picture {
  float: right;
  /* LTR */
  margin: 0 1em 1em 0;
  /* LTR */
}

/* line 1015, ../sass/_drupal-core.scss */
.profile h3 {
  border-bottom: 1px solid #ccc;
}

/* line 1018, ../sass/_drupal-core.scss */
.profile dl {
  margin: 0 0 1.5em 0;
}

/* line 1021, ../sass/_drupal-core.scss */
.profile dt {
  margin: 0 0 0.2em 0;
  font-weight: bold;
}

/* line 1025, ../sass/_drupal-core.scss */
.profile dd {
  margin: 0 0 1em 0;
}

/* line 18, ../sass/_drupal-style.scss */
.element-invisible {
  position: absolute !important;
  left: -999em;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/* line 27, ../sass/_drupal-style.scss */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/* line 37, ../sass/_drupal-style.scss */
.block-link-wrap {
  background-color: #fefefe;
  background-color: rgba(254, 254, 254, 0.5);
  -webkit-box-shadow: 0 0 0.25em 0.25em #e6e6e6;
  -moz-box-shadow: 0 0 0.25em 0.25em #e6e6e6;
  box-shadow: 0 0 0.25em 0.25em #e6e6e6;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 48, ../sass/_drupal-style.scss */
.block-link-wrap p {
  font-size: 1.4em;
  color: #777777;
}
/* line 54, ../sass/_drupal-style.scss */
.block-link-wrap a,
.block-link-wrap a:visited {
  color: #fefefe;
}

/* line 60, ../sass/_drupal-style.scss */
.block-link-wrap:hover {
  background: #fefefe;
  -webkit-box-shadow: 0 0 0.5em 0.5em #cccccc;
  -moz-box-shadow: 0 0 0.5em 0.5em #cccccc;
  box-shadow: 0 0 0.5em 0.5em #cccccc;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 65, ../sass/_drupal-style.scss */
.block-link-wrap:hover img {
  background: transparent;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 70, ../sass/_drupal-style.scss */
.block-link-wrap:hover p {
  color: #333333;
}
/* line 74, ../sass/_drupal-style.scss */
.block-link-wrap:hover a:hover {
  text-decoration: none;
}

/* line 79, ../sass/_drupal-style.scss */
.block-link {
  margin: 0 -1%;
  padding: 0;
  color: #fefefe;
}
/* line 86, ../sass/_drupal-style.scss */
.block-link a,
.block-link a:link,
.block-link a:visited {
  display: block;
  line-height: 1.4em;
  text-align: center;
  border-bottom: #999999 thin solid;
  background: #111111;
  color: #fefefe;
}
/* line 98, ../sass/_drupal-style.scss */
.block-link.active a,
.block-link a:active,
.block-link a:hover,
.block-link a:focus {
  background: #29b4de;
  color: #fefefe;
}

/* line 108, ../sass/_drupal-style.scss */
.block-link.active a,
.block-link a:active,
.block-link a:hover,
.block-link a:focus {
  background: #29b4de;
  color: #fefefe;
}

/* line 114, ../sass/_drupal-style.scss */
.gallery {
  text-align: center;
  background: #333333;
}
/* line 120, ../sass/_drupal-style.scss */
.gallery div,
.gallery a,
.gallery img {
  display: inline;
  margin: 0 auto;
}

/* line 131, ../sass/_drupal-style.scss */
input[value="Continue"],
input[value="Submit"] {
  float: right;
  background-color: #57dd2a;
}

/* line 137, ../sass/_drupal-style.scss */
#block-user-login {
  float: right;
}
/* line 140, ../sass/_drupal-style.scss */
#block-user-login h2 {
  cursor: pointer;
  float: left;
  font-size: 1em;
  line-height: 3em;
}
/* line 147, ../sass/_drupal-style.scss */
#block-user-login div,
#block-user-login form {
  float: left;
  margin: 0 .5em;
  font-size: 1em;
  line-height: 3em;
  color: #fefefe;
}
/* line 154, ../sass/_drupal-style.scss */
#block-user-login .item-list li {
  text-indent: -999em;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -999em;
}

/* line 165, ../sass/_drupal-style.scss */
a.colorbox {
  display: inline;
  display: inline-block;
  margin: 1em;
  background: #111111;
  -webkit-box-shadow: 0 0.1em 0.6em 0.6em #111111;
  -moz-box-shadow: 0 0.1em 0.6em 0.6em #111111;
  box-shadow: 0 0.1em 0.6em 0.6em #111111;
}

/* line 174, ../sass/_drupal-style.scss */
a:hover.colorbox,
a:focus.colorbox {
  background: #cccccc;
  background: rgba(254, 254, 254, 0.5);
  -webkit-box-shadow: 0 0.1em 0.6em 0.6em #cccccc;
  -moz-box-shadow: 0 0.1em 0.6em 0.6em #cccccc;
  box-shadow: 0 0.1em 0.6em 0.6em #cccccc;
}

/* line 181, ../sass/_drupal-style.scss */
#block-system-powered-by {
  /* Powered by */
  float: right;
  text-indent: -999em;
  margin: 0 1em;
}

/* line 187, ../sass/_drupal-style.scss */
#block-system-powered-by a {
  /* Drupal Logo */
  display: block;
  width: 84px;
  height: 32px;
  background: url(images/drupal.png) no-repeat;
}

/* *************
    Cellular :: Drupal Views

    (c)2012 Adam Blankenship
*************** */
/*****
    Cellular :: SASS Mixins

    (c)2012 Adam Blankenship
*****/
/*
.round {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -khtml-border-radius: 1em;
    border-radius: 1em;
}

.round-top {
    -webkit-border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -khtml-border-radius-topleft: 1em;
    border-top-left-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -khtml-border-radius-topright: 1em;
    border-top-right-radius: 1em;
}

.round-right {
    -webkit-border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -khtml-border-radius-topright: 1em;
    border-top-right-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -khtml-border-radius-bottomright: 1em;
    border-bottom-right-radius: 1em;
}

.round-bottom {
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -khtml-border-radius-bottomleft: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -khtml-border-radius-bottomright: 1em;
    border-bottom-right-radius: 1em;
}

.round-left {
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -khtml-border-radius-bottomleft: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -khtml-border-radius-topleft: 1em;
}

*/
/* line 16, ../sass/_drupal-views.scss */
.item-list {
  clear: both;
}
/* line 19, ../sass/_drupal-views.scss */
.item-list ul {
  margin: 0;
  padding: 0;
}
/* line 23, ../sass/_drupal-views.scss */
.item-list li {
  margin: 0 0 .25em 1.5em;
  padding: 0;
}

/* line 32, ../sass/_drupal-views.scss */
.pager {
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  font: bold 0.8em/1em Arial, sans-serif;
  background: #333333;
  border: thin solid;
  border-color: #cccccc #dddddd #eeeeee;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  text-align: center;
}
/* line 44, ../sass/_drupal-views.scss */
.pager .pager-item {
  margin: .2em;
}
/* line 48, ../sass/_drupal-views.scss */
.pager li {
  float: left;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  outline: 0;
  border: thin solid;
  border-color: #cccccc #dddddd #eeeeee;
}
/* line 60, ../sass/_drupal-views.scss */
.pager a,
.pager a:link,
.pager a:visited {
  padding: 1em;
  color: #fefefe;
  display: block;
  cursor: pointer;
  background: #333333;
}
/* line 69, ../sass/_drupal-views.scss */
.pager a:hover,
.pager a:focus {
  background: #fefefe;
  color: #29b4de;
}
/* line 75, ../sass/_drupal-views.scss */
.pager .pager-ellipsis,
.pager .pager-current {
  text-decoration: none;
}
/* line 79, ../sass/_drupal-views.scss */
.pager .pager-current {
  margin: .2em .5em;
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
  outline: 0;
  background: #fefefe;
  color: #333333;
}
/* line 92, ../sass/_drupal-views.scss */
.pager .pager-first,
.pager .pager-previous,
.pager .pager-next,
.pager .pager-last {
  margin: .5em;
  border: none;
}
/* line 97, ../sass/_drupal-views.scss */
.pager .pager-first a,
.pager .pager-first a:visited,
.pager .pager-previous a,
.pager .pager-previous a:visited,
.pager .pager-next a,
.pager .pager-next a:visited,
.pager .pager-last a,
.pager .pager-last a:visited {
  width: 6em;
  text-align: center;
  color: #333333;
  background: #fefefe;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
}
/* line 104, ../sass/_drupal-views.scss */
.pager .pager-first a:hover,
.pager .pager-previous a:hover,
.pager .pager-next a:hover,
.pager .pager-last a:hover {
  background: #fefefe;
  color: #29b4de;
}

/* line 114, ../sass/_drupal-views.scss */
.views-slideshow-cycle-main-frame {
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0.5em 0.5em #444444;
  -moz-box-shadow: inset 0 0 0.5em 0.5em #444444;
  box-shadow: inset 0 0 0.5em 0.5em #444444;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

/* line 123, ../sass/_drupal-views.scss */
.views-slideshow-cycle-main-frame:hover {
  background: rgba(41, 180, 222, 0.2);
  -webkit-box-shadow: inset 0 0 0.25em 0.25em #29b4de;
  -moz-box-shadow: inset 0 0 0.25em 0.25em #29b4de;
  box-shadow: inset 0 0 0.25em 0.25em #29b4de;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

/* line 132, ../sass/_drupal-views.scss */
.slideshow-slide h3,
.slideshow-slide p,
.slideshow-slide img {
  float: left;
  margin: 0;
}
/* line 136, ../sass/_drupal-views.scss */
.slideshow-slide p {
  max-width: 24em;
  padding: 1em;
  background: #111111;
  background: rgba(17, 17, 17, 0.5);
}
/* line 142, ../sass/_drupal-views.scss */
.slideshow-slide h3 a {
  color: #fefefe;
}
/* line 146, ../sass/_drupal-views.scss */
.slideshow-slide .active,
.slideshow-slide h3 a:hover {
  color: #29b4de;
}

/* line 154, ../sass/_drupal-views.scss */
.views-content-counter {
  float: left;
  cursor: pointer;
}
